h1 {
  font-family: 'Passero One', cursive;
  text-align: center;
  font-size: 6em;
}

.container {
  margin: auto;
  width: 50%;
}

#board {
    display: grid;
    justify-content: center;
    grid-template-columns: 10em 10em 10em;
    grid-auto-rows: 10em;
    grid-gap: .2em;
    background-color: #fff;
    color: #444;
  }
  
  .field {
    background-color: rgb(95, 147, 232);
    color: #fff;
  }

  .field:hover {
    background-color: rgba(255, 180, 35, .7);
    cursor: pointer;
    transform: scale(1.02);
  }